html {
  scroll-behavior: smooth;
}

.examma-ray-sl-diff pre {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1em;
  overflow: visible;
}

.examma-ray-sl-diff pre>code {
  display: inline-block;
  vertical-align: middle;
}

.examma-ray-sl-diff pre>svg {
  display: inline-block;
  vertical-align: middle;
}

.examma-ray-sl-diff .card-header p {
  display: inline;
  margin-bottom: 0;
}

.examma-ray-sl-diff {
  font-size: 0.8rem;
}

.examma-ray-fitb-diff tr>*:first-child,
.examma-ray-sl-diff tr>*:first-child {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  background-color: white;
}

.examma-ray-sl-diff-optional-solution-line {
  opacity: 0.5;
}

.examma-ray-sl-diff-optional-solution-line-info-icon {
  position: absolute;
  top: calc(50% - 9px);
  left: -8px;
}

.examma-ray-sl-rubric-item {
  width: 250px;
}

.examma-ray-sl-rubric-item .badge {
  vertical-align: middle;
}

.examma-ray-mc-option>p {
  display: inline-block;
  margin: 0;
}

.examma-ray-incorrect>* {
  /* color: red;
  text-decoration: line-through !important; */
}

.examma-ray-correct>* {
  /* color: green;
  font-weight: bold; */
}

.examma-ray-mc-option {
  vertical-align: middle;
}

.examma-ray-mc-option pre {
  display: inline-block;
  vertical-align: text-top;
  margin-bottom: 0;
}

.examma-ray-mc-option pre code {
  font-size: 0.8rem;
}

.card-header {
  padding: 0.2rem 0.75rem;
}

.card-body {
  padding: 0 0.75rem;
  padding-top: 0.25rem;
}

.examma-ray-grading-annotation {
  font-size: 0.8rem;
  color: blue;
  font-style: italic;
}

code {
  color: unset;
}

.examma-ray-question-description code:not(pre code),
.examma-ray-section-description code:not(pre code),
.examma-ray-section-reference code:not(pre code),
.examma-ray-question-response code:not(pre code) {
  background: #eee;
  border-radius: 3px;
  padding: 2px;
}

.examma-ray-question-response-fill_in_the_blank {
  font-size: 90%;
}

.examma-ray-question-response-fill_in_the_blank pre code input,
.examma-ray-question-response-fill_in_the_blank pre code textarea {
  margin-top: 2px;
  margin-bottom: 2px;
}

.examma-ray-fitb-diff {
  font-size: 0.8rem;
}

.examma-ray-fitb-blank-input {
  display: inline-block;
  vertical-align: middle;
  margin: 2px 3px;
}

.examma-ray-fitb-box-input {
  display: inline-block;
  vertical-align: middle;
  margin: 2px 3px;
}

.examma-ray-fitb-spacer {
  height: 0.5em;
  width: 1px;
}

.examma-ray-section-heading {
  margin-bottom: 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #dedede;
  padding: 5px;
  margin-bottom: 5px;
  border-bottom: solid 1px #aaa;
}

.examma-ray-section-heading>.badge {
  font-size: 1.2em;
  vertical-align: middle;
}

.examma-ray-section-contents {
  width: 100%;
  table-layout: fixed;
  margin-left: 7px;
  
  /*needed for inline-block examma-ray-section-reference-container height*/
  position: relative;
  height: 100%;
}

.examma-ray-section-contents td {
  vertical-align: top;
}

.examma-ray-questions-container {
  padding-bottom: 30vh;
}

.examma-ray-question .card-body {
  padding-bottom: 1em;
}

.examma-ray-instructions {
  max-width: 850px;
}

.examma-ray-grading-summary {
  max-width: 850px;
}

.examma-ray-bottom-message {
  max-width: 850px;
}

.examma-ray-section-description {
  font-size: 90%;
}

.examma-ray-section-reference {
  font-size: 90%;
}

.examma-ray-question-description {
  font-size: 90%;
}

.examma-ray-question-response {
  font-size: 90%;
}

.examma-ray-question-response-code_editor pre,
.examma-ray-question-response-code_editor .CodeMirror {
  font-size: 87.5%;
}

.examma-ray-question-regrade {
  font-size: 90%;
}

.examma-ray-section-reference-column {
  height: 100%;
  padding-bottom: 30vh;
}

.examma-ray-section-reference-container {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.examma-ray-section-reference {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  max-height: 100vh;
  overflow-y: auto;
  padding: 5px;
  padding-bottom: 2em;
}

.examma-ray-section-reference pre code {
  max-height: 80vh;
}

.examma-ray-section-reference-width-slider-container {
  float: right;
  white-space: nowrap;
}

.examma-ray-section-reference-width-value {
  display: inline-block;
  vertical-align: middle;
}

.examma-ray-section-reference-width-slider {
  display: inline-block;
  vertical-align: middle;
  width: 75px;
}


.examma-ray-section-contents .h1,
.examma-ray-section-contents .h2,
.examma-ray-section-contents .h3,
.examma-ray-section-contents .h4,
.examma-ray-section-contents .h5,
.examma-ray-section-contents .h6,
.examma-ray-section-contents h1,
.examma-ray-section-contents h2,
.examma-ray-section-contents h3,
.examma-ray-section-contents h4,
.examma-ray-section-contents h5,
.examma-ray-section-contents h6 {
  /* font-size: initial; */
}


.examma-ray-question-description h1,
.examma-ray-question-description h2,
.examma-ray-question-description h3,
.examma-ray-question-description h4,
.examma-ray-question-description h5,
.examma-ray-question-description h6,
.examma-ray-question-description h7 {
  /* font-size: initial; */
}

.examma-ray-question-description p {
  margin-bottom: 1em;
}





.examma-ray-mc-option .hljs {
  background: unset;
  padding: unset;
}

.examma-ray-summation-grader .examma-ray-point-adjustment-badge {
  min-width: 3em;
  margin-left: -5rem;
  margin-right: 1.5rem;
  vertical-align: text-top;
}

.examma-ray-summation-grader label {
  margin-bottom: 0;
}

.examma-ray-summation-grader .examma-ray-mc-option {
  vertical-align: text-top;
}

.examma-ray-summation-grader .examma-ray-mc-option pre {
  vertical-align: text-top;
}

.examma-ray-question-overview {
  margin: 0.3em;
}

.examma-ray-question-overview .card-header {
  padding: 0.25rem;
}

.examma-ray-question-overview a.nav-link {
  display: inline-block;
  font-weight: 500;
  padding: 0;
}

.examma-ray-question-overview .progress {
  width: 7em;
  background-color: #c8c8c8;
}

.examma-ray-students-overview .progress {
  width: 7em;
  background-color: #c8c8c8;
}

.examma-ray-section-saver .modal-body {
  max-height: 70vh;
  overflow-y: auto;
}


.examma-ray-section-saver-button {
  float: right;
}

.examma-ray-exam-saver-status {
  position: absolute;
  bottom: 5px;
  width: 190px;
  text-align: center;
}

.examma-ray-exam-saver-status-note {
  margin: 5px;
}

.btn:disabled {
  cursor: not-allowed;
}

.examma-ray-sl-choices {
  overflow-x: auto;
  padding: 0.5em;
}

.examma-ray-sl-choices.sl-view-preview {
  border: solid 1px rgba(0, 0, 255, 0.2);
  background-color: rgba(0, 0, 255, 0.05);
  border-radius: 2px;
}

.examma-ray-sl-line {
  white-space: nowrap;
}

.sl-select-input {
  vertical-align: middle;
  margin-bottom: 0.5em;
}

.sl-select-label {
  vertical-align: middle;
  padding-right: 1em;
  border: solid 1px transparent;
  padding-left: 3px;
}

.examma-ray-sl-choices.sl-view-choices .sl-select-input:checked+.sl-select-label {
  border: solid 1px rgba(0, 0, 255, 0.2);
  background-color: rgba(0, 0, 255, 0.05);
  border-radius: 2px;
}

.sl-select-label > pre {
  margin-bottom: 0;
}

.examma-ray-sl-header,
.examma-ray-sl-footer {
  margin-left: 1.75em;
}

.examma-ray-sl-header pre,
.examma-ray-sl-footer pre {
  margin-bottom: 0;
}

.examma-ray-code-editor-header,
.examma-ray-code-editor-footer {
  margin-left: 0ch;
}

.examma-ray-code-editor-submission {
  margin-left: 1ch;
  margin-right: 1ch;
  border: solid 1px #777;
  padding: 1ch;
}

.examma-ray-code-editor-header pre,
.examma-ray-code-editor-footer pre {
  margin-bottom: 0;
}

.examma-ray-codemirror {
  margin-left: 1ch;
  border: solid 1px #333;
  font-size: 11pt; /* Safari needs this or it makes it super tiny */
}

/* FITB-DROP */

.examma-ray-question-response-fitb_drop {
  font-size: 90%;
}

.examma-ray-fitb-drop-originals {
  display: none;
}

.examma-ray-fitb-drop-location {
  display: inline-block;
  vertical-align: middle;
  min-width: 5ch;
  min-height: 3ch;
  margin: 5px;
  border: solid 1px rgba(0, 0, 255, 0.2);
  border-radius: 4px;
  background-color: rgba(0, 0, 255, 0.05);
}

.examma-ray-fitb-drop-bank > * {
  border: solid 1px rgba(0, 0, 255, 0.2);
  border-radius: 4px;
  background-color: rgba(0, 0, 255, 0.05);
}

.examma-ray-fitb-droppable {
  display: table;
  border-collapse: separate;
  margin: 3px;
}

.examma-ray-fitb-droppable:not(:only-child) {
  padding: 2px;
  border: solid 1px rgba(0, 0, 255, 0.2);
  border-radius: 4px;
  background-color: rgba(0, 0, 255, 0.05);
}

.examma-ray-fitb-droppable pre {
  margin: 0;
}

pre .examma-ray-fitb-droppable pre {
  font-size: inherit;
}


/* STARS */



.examma-ray-question-star {
  cursor: pointer;
}

.examma-ray-question-star > svg {
  color: transparent;
  stroke: gray;
}

.examma-ray-question-star-marked > svg {
  color: gold;
  stroke: gray;
}



/* GRADING */

.examma-ray-grading-report {
  overflow-x: auto;
  max-height: 70vh;
}

.examma-ray-grading-report form {
  margin-bottom: 0;
}

.examma-ray-grading-report .btn-link {
  font-size: 0.8rem;
}

.nav .badge {
  width: 5em;
}

.rubric-item-card {
  width: 17em;
}

.rubric-item-card .card-header {
  padding: 0.25rem;
}

.rubric-item-card .card-body {
  overflow-x: auto;
}

.rubric-item-card a.nav-link {
  font-weight: 500;
  padding: 0;
}

.examm-ray-regrade-entry {
  width: 100%;
}

.examma-ray-manual-graded-rubric {
  position: sticky;
  top: 0;
  max-height: 65vh;
  min-width: 200px;
  max-width: 300px;
  padding-top: 1em;
  padding-right: 1em;
  overflow-y: auto;
}

.examma-ray-manual-graded-rubric-item.list-group-item {
  border: solid 1px #bbb;
  margin-bottom: 0.6em;
  font-size: 80%;
}

.examma-ray-manual-graded-rubric-item p {
  margin-bottom: 0.2em;
}

.examma-ray-manual-graded-rubric-item .badge {
  position: absolute;
  right: -0.5em;
  top: -0.5em;
}

.examma-ray-manual-graded-rubric-item svg {
  vertical-align: text-top;
}




.examma-ray-fitb-regex-overview pre code .progress {
  width: unset;
  background-color: #c8c8c8;
}

.examma-ray-fitb-regex-overview .progress-bar {
  padding-left: 0.4em;
  padding-right: 0.4em;
  font-weight: 600;
  text-align: left;
}